# Exercise 04 : A/B-testing
## Create a connection to the database using the library sqlite3

In [95]:
import pandas as pd
import sqlite3

# –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ
conn = sqlite3.connect('../data/checking-logs.sqlite')  # —É–∫–∞–∂–∏ —Å–≤–æ–π –ø—É—Ç—å –∫ –±–∞–∑–µ

## –ü–æ–ª—É—á–∞–µ–º —Å—Ä–µ–¥–Ω–∏–π timestamp –ø–µ—Ä–≤–æ–≥–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ –∏–∑ —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø—ã

In [96]:
query_avg_first_view = """
SELECT AVG(julianday(first_view_ts)) AS avg_first_view_jd
FROM test
WHERE labname != 'project1' AND first_view_ts IS NOT NULL;
"""

avg_first_view_jd = pd.read_sql(query_avg_first_view, conn).iloc[0, 0]
avg_first_view_jd

2458966.651581563

## –ó–∞–ø—Ä–æ—Å –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –¥–ª—è —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø—ã

In [97]:
query_test_results = """
WITH filtered_users AS (
    SELECT uid
    FROM test
    WHERE labname != 'project1'
    GROUP BY uid
    HAVING SUM(CASE WHEN first_commit_ts < first_view_ts THEN 1 ELSE 0 END) > 0
       AND SUM(CASE WHEN first_commit_ts >= first_view_ts THEN 1 ELSE 0 END) > 0
)
SELECT 'before' AS time,
       AVG((julianday(first_commit_ts) - julianday(deadlines.deadlines, 'unixepoch')) * 24) AS avg_diff
FROM test
JOIN deadlines ON test.labname = deadlines.labs
JOIN filtered_users ON test.uid = filtered_users.uid
WHERE test.labname != 'project1' AND julianday(first_commit_ts) < julianday(first_view_ts)

UNION

SELECT 'after' AS time,
       AVG((julianday(first_commit_ts) - julianday(deadlines.deadlines, 'unixepoch')) * 24) AS avg_diff
FROM test
JOIN deadlines ON test.labname = deadlines.labs
JOIN filtered_users ON test.uid = filtered_users.uid
WHERE test.labname != 'project1' AND julianday(first_commit_ts) >= julianday(first_view_ts);
"""

test_results = pd.read_sql(query_test_results, conn)
test_results

     time    avg_diff
0   after -105.229101
1  before  -61.156438

## –ó–∞–ø—Ä–æ—Å –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –¥–ª—è –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø—ã

In [98]:
query_control_results = f"""
WITH filtered_users AS (
    SELECT uid
    FROM control
    WHERE labname != 'project1'
    GROUP BY uid
    HAVING SUM(CASE WHEN julianday(first_commit_ts) < {avg_first_view_jd} THEN 1 ELSE 0 END) > 0
       AND SUM(CASE WHEN julianday(first_commit_ts) >= {avg_first_view_jd} THEN 1 ELSE 0 END) > 0
)
SELECT 'before' AS time,
       AVG((julianday(first_commit_ts) - julianday(deadlines.deadlines, 'unixepoch')) * 24) AS avg_diff
FROM control
JOIN deadlines ON control.labname = deadlines.labs
JOIN filtered_users ON control.uid = filtered_users.uid
WHERE control.labname != 'project1' AND julianday(first_commit_ts) < {avg_first_view_jd}

UNION ALL

SELECT 'after' AS time,
       AVG((julianday(first_commit_ts) - julianday(deadlines.deadlines, 'unixepoch')) * 24) AS avg_diff
FROM control
JOIN deadlines ON control.labname = deadlines.labs
JOIN filtered_users ON control.uid = filtered_users.uid
WHERE control.labname != 'project1' AND julianday(first_commit_ts) >= {avg_first_view_jd};
"""

control_results = pd.read_sql(query_control_results, conn)
control_results

     time    avg_diff
0  before  -99.901295
1   after -118.144425

## –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ

In [99]:
conn.close()

üí° –ò–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞:
```
Test Group:
time	avg_diff (—á–∞—Å—ã)
before	-61.16
after	-105.23
```
‚Üí –ü–æ—Å–ª–µ –ø–æ–∫–∞–∑–∞ –Ω–æ–≤–æ—Å—Ç–Ω–æ–π –ª–µ–Ω—Ç—ã —Å—Ç—É–¥–µ–Ω—Ç—ã —Å—Ç–∞–ª–∏ —Å–¥–∞–≤–∞—Ç—å —Ä–∞–Ω—å—à–µ (–æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–∞—è —Ä–∞–∑–Ω–∏—Ü–∞ —Å—Ç–∞–ª–∞ –±–æ–ª—å—à–µ –ø–æ –º–æ–¥—É–ª—é) ‚Äî –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–π —ç—Ñ—Ñ–µ–∫—Ç.

```
Control Group:
time	avg_diff (—á–∞—Å—ã)
before	-99.90
after	-118.14
```
‚Üí –£ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø—ã —Ç–æ–∂–µ –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è —É—Å–∫–æ—Ä–µ–Ω–∏–µ, –Ω–æ –æ–Ω–æ –º–µ–Ω—å—à–µ, —á–µ–º —É —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø—ã.

üìå –í—ã–≤–æ–¥: –Ω–æ–≤–æ—Å—Ç–Ω–∞—è –ª–µ–Ω—Ç–∞ –æ–∫–∞–∑–∞–ª–∞ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ–µ –≤–ª–∏—è–Ω–∏–µ, —Ç–∞–∫ –∫–∞–∫ —É—Å–∫–æ—Ä–µ–Ω–∏–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏–π —É —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø—ã –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –±–æ–ª—å—à–µ.