# EX02
## download and read the CSV file and make ID the index column

In [54]:
import pandas as pd

df = pd.read_csv("../data/auto.csv", index_col = "ID")
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

## count the number of observations using the method count()

In [55]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

In [56]:
# Удаление дубликатов по CarNumber, Make_n_model, Fines (оставить последние)
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df.count()
# df.head()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## work with missing values

In [57]:
# Проверка количества пропущенных значений по каждому столбцу
df.isna().sum()

# Удаление столбцов с более чем 500 пропущенными значениями
df = df.dropna(axis=1, thresh=len(df) - 500)
df.isna().sum()

# Заполнение пропусков в Refund предыдущим значением
df['Refund'] = df['Refund'].fillna(method='ffill')
df.isna().sum()

# Заполнение пропусков в Fines средним значением
df['Fines'] = df['Fines'].fillna(df['Fines'].mean())
df.isna().sum()
# df.head()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## split and parse the make and model

In [58]:
# Разделение Make_n_model на Make и Model
df[['Make', 'Model']] = df['Make_n_model'].apply(lambda x: pd.Series(str(x).split(' ', 1)))
df.head()

# Удаление Make_n_model
df = df.drop(columns=['Make_n_model'])
df.head()

# Сохранение в JSON формате
df.reset_index(drop=True, inplace=True)  # ID не включается в JSON, если не нужен
df.to_json('auto.json', orient='records', indent=4)