# EX00
## read_csv

In [1]:
import pandas as pd

df = pd.read_csv(
    '../data/feed-views.log',          # путь к исходному файлу
    sep = '\t',
    skiprows=[2, 3],                     # исключаем фиктивные строки с индексами 2 и 3
    skipfooter=2,                        # исключаем последние 2 строки
    names=['datetime', 'user'],          # задаём имена колонок
    index_col='datetime',                # используем столбец datetime как индекс
    engine='python'                      # необходим для работы skipfooter
)

## rename datetime to date_time

In [2]:
df.index.name = 'date_time'
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [3]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## to_csv

In [4]:
df.to_csv(
    'feed-views-semicolon.log',  # путь и имя выходного файла
    sep=';',                          # разделитель
    encoding='utf-8'                  # кодировка
)